<div class="container mt-3 " id="d1">
  <div class="card">
      <div class="card-header">
          <div class=" d-flex align-items-center justify-content-between">
              <h3>Invoice System</h3>
              <nav>

                <button class="btn btn-outline-primary btn-sm" routerLink="/invoice">InvoiceForm</button>&nbsp;
                <button class="btn btn-outline-primary btn-sm" routerLink="/student">Student</button>&nbsp;
                <button class="btn btn-outline-primary btn-sm" routerLink="/dash">InvoiceList</button>&nbsp;
                <button class="btn btn-outline-primary btn-sm" (click)="logout()">Logout</button>&nbsp;
            </nav>
          </div>
      </div>
      <div class="card-body" id="d1">
         
          <router-outlet></router-outlet>
      </div>
  </div>
</div>


<!-- <router-outlet></router-outlet> -->